Repository n1lsqn/misskey, pull requests merged in 2024-01, with the labels that each got.

#11 2023.11.1.papi
  CHANGELOG.md
  locales/zh-TW.yml
  package.json
  packages/backend/src/core/MfmService.ts
  packages/frontend/src/components/global/MkMisskeyFlavoredMarkdown.ts
  packages/frontend/src/components/global/MkTime.vue
  packages/frontend/src/pages/settings/notifications.vue
Labels: packages/backend, packages/frontend, packages/backend:test, packages/misskey-js

#27 2023.12.2.papi.3 icondeco fe
  CHANGELOG.md
  package.json
  packages/frontend/src/pages/avatar-decorations.vue
  packages/frontend/src/pages/settings/avatar-decoration.vue
Labels: packages/frontend

#29 isRootの修正
  CHANGELOG.md
  package.json
  packages/backend/src/server/api/endpoints/admin/root/add.ts
  packages/backend/src/server/api/endpoints/admin/root/remove.ts
  packages/frontend/src/pages/admin-user.vue
  packages/frontend/src/pages/avatar-decorations.vue
  packages/frontend/src/pages/settings/avatar-decoration.vue
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js
